@charset "UTF-8";

@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

@import
	url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@400&display=swap')
	;

html, body {
	font-family: 'Yantramanav', sans-serif;
	height: 100%;
	margin: 0;
	overflow-y: scroll;
}

body {
	background-image: url('https://wallpaperaccess.com/full/1093305.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 100%;
}

.scrollable-table {
	max-width: 100%;
	overflow-x: auto;
}

.center-box {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}



.menu-container {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 999;
	background-color: rgba(255, 255, 255, 0.8);
}

.scrollable-table {
	max-width: 100%;
	overflow-x: auto;
	margin-bottom: 20px
}

.table-container {
	max-height: 400px;
	overflow-y: auto;
}

.center-box {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.menu-button {
	position: fixed;
	top: 20px;
	left: 20px;
	z-index: 1000;
}

.container {
	padding-top: 40px;
}

.table-container {
	max-height: 400px;
	overflow-y: auto;
}

.buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin-top: 20px;
}

.modal-content {
	padding: 20px;
	max-height: 400px;
	overflow-y: auto;
}